{% set postgresql = salt['grains.filter_by']({
    'Debian': {
        'version': '9.3',
        'pkg': {
            'server': 'postgresql-9.3',
            'dev': 'postgresql-server-dev-9.3',
            'client': 'postgresql-client-9.3',
        },
        'options': {
            'data_directory': '/data/postgresql',
            'shared_buffers': '128MB',
            'lc_messages': 'en_GB.UTF-8',
            'lc_monetary': 'en_GB.UTF-8',
            'lc_numeric': 'en_GB.UTF-8',
            'lc_time': 'en_GB.UTF-8',
            'default_text_search_config': 'pg_catalog.english',
            'log_timezone': 'UTC',
            'ssl': 'true',
            'ssl_cert_file': '/etc/ssl/certs/ssl-cert-snakeoil.pem',
            'ssl_key_file': '/etc/ssl/private/ssl-cert-snakeoil.key',
            'listen_addresses': '*',
            'port': 5432,
            'max_connections': 100,
            'unix_socket_directories': '/var/run/postgresql',
            'datestyle': 'iso, mdy',
        },
        'service': 'postgresql',
    },
}, merge=salt['pillar.get']('postgresql', {})) %}
