{% set postgresql = salt['grains.filter_by']({
    'Debian': {
                'servers': {
                    'postgresql.local': '27017',
                },             
            'shared_buffers': '700MB',
            'network_local': '0.0.0.0/0',
            'dbname': 'opg-auth',
            'dbpath': '/var/lib/postgresql',
            'rs': 'False',
    },
}, merge=salt['pillar.get']('postgresql',{})) %}

